@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-in-out;
  }

  .link-underline-yellow {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#fde047, #fde047);
  }

  .link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
  }

  .btn-animate span:first-child {
    transform: translateX(-101%);
    transition: transform 0.3s ease-in;
  }
  .btn-animate:hover span {
    transform: translateX(0);
  }
}
